
:root {
    --light-brown: #D69C75;
    --darkerbrown: #A87663;
    --lightredbrown: #AE623F;
    --darkredbrown: #743D2C;
    --greyblue: #677592;
    --brightblue: #007CAE;
    --dimblue: #005C8C;
    --seablue: #005075;
    --darkgreyblue: #1B4563;
    --dimdepthsblue: #00395D;
    --forgottenblue: #01334D;
    --grey: #C8BDBE;
    --dimgreyred: #806A6B;
    --dullfoamred: #705A55;
    --darkgreypurple: #3B353D;
    --greyred: #9D8C92;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: var(--grey);
    background-color: var(--greyblue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Inria Serif', serif;
    font-weight: 100;
    font-size: 5rem;
    color: var(--darkgreypurple);
}

.who__photo {
    width: 25vw;
    max-width: 256px;
    min-width: 80px;
    height: 25vw;
    max-height: 256px;
    min-height: 80px;
}

.who__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.who {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.contact {
    font-size: 1.5rem;
}